@charset "UTF-8";
html {
    font-size: 100%;
}
body {
    font-size: 0.9rem;
    color: #383E45;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}

.site-ttl {
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
}
.site-ttl a {
    display: block;
}
.wrapper {
    width: 960px;
    padding: 0 4%;
    margin: 0 auto 100px;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header-nav-list {
    display: flex;
    padding: 10px 0;
}
.header-nav-list li {
    margin-left: 30px;
}
.header-nav-list a {
    color: #383E45;
}
.header li a:hover {
    opacity: 0.7;
}
.main__img {
    margin-bottom: 80px;
}
.main__img img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}
#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}
#about .text {
    text-align: left;
}
.section-ttl {
    display: inline-block;
    font-size: 2rem;
    border-bottom: 1px solid #383E45;
    margin-bottom: 60px;
}
.content-ttl {
    font-size: 1rem;
    margin: 10px 0;
}

#bicycle ul {
    display: flex;
    justify-content: space-between;
}
#bicycle li {
    width: 32%;
}
.footer {
    text-align: center;
    font-size: 0.5rem;
}
@media screen and (max-width: 600px) {
    .main__img {
        height: calc(100vh - 60px);
    }
    #about .content {
        flex-direction: column;
    }
    #about img {
        margin-right: 0;
    }
    #bicycle ul {
        flex-direction: column;
    }
    #bicycle li {
        width: 100%;
        margin-bottom: 30px;
    }
}